
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Main/ViewContent.cshtml";
}

<div class="" style="width: 100%; height: 100%">
    <div class="collapse" id="demo" style="border: 2px solid black;  float: left; width: 30%; background-color:#fafafa; overflow:visible !important">
        <div style="overflow-y: scroll; overflow-x: hidden; max-height: 620px; height: 620px;">
            <ul>
                <li>
                    @Html.ActionLink("I. Tổng quát về CTDL & GT", "I")
                    <ul>
                        <li>
                            @Html.ActionLink("1. Cấu trúc dữ liệu là gì", "I_1")
                        </li>
                        <li>
                            @Html.ActionLink("2. Giải thuật là gì", "I_2")
                        </li>
                        <li>
                            @Html.ActionLink("3. Phân tích tiệm cận trong cấu trúc dữ liệu và giải thuật", "I_3")
                            <ul>
                                <li>
                                    @Html.ActionLink("3.1. Phân tích tiệm cận là gì ?", "I_3_1")
                                </li>
                                <li>
                                    @Html.ActionLink("3.2. Big Oh Notation, Ο trong Cấu trúc dữ liệu và giải thuật", "I_3_2")
                                </li>
                                <li>
                                    @Html.ActionLink("3.3. Omega Notation, Ω trong Cấu trúc dữ liệu và giải thuật", "I_3_3")
                                </li>
                                <li>
                                    @Html.ActionLink("3.4. Theta Notation, θ trong Cấu trúc dữ liệu và giải thuật", "I_3_4")
                                </li>
                                <li>
                                    @Html.ActionLink("3.5. Ví dụ phân tích tiệm cận về độ phức tạp trong cấu trúc dữ liệu và giải thuật", "I_3_5")
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    @Html.ActionLink("II. Độ phức tạp của thuật toán", "II")
                    <ul>
                        <li>
                            @Html.ActionLink("1. Độ phức tạp của thuật toán là gì", "II_1")
                        </li>
                        <li>
                            @Html.ActionLink("2. Nhân tố thời gian (Độ phức tạp thời gian)", "II_2")
                        </li>
                        <li>
                            @Html.ActionLink("3. Nhân tố bộ nhớ (Độ phức tạp bộ nhớ)", "II_3")
                        </li>
                        <li>
                            @Html.ActionLink("4. Các quy tắc để xác định độ phức tạp của thuật toánt", "II_4")
                            <ul>
                                <li>
                                    @Html.ActionLink("4.1. Quy tắc bỏ hằng số", "II_4_1")
                                </li>
                                <li>
                                    @Html.ActionLink("4.2. Quy tắc cộng - max", "II_4_2")
                                </li>
                                <li>
                                    @Html.ActionLink("4.3. Quy tắc nhân", "II_4_3")
                                </li>
                                <li>
                                    @Html.ActionLink("4.4. Quy tắc tổng quát", "II_4_4")
                                </li>
                            </ul>
                        </li>
                        <li>
                            @Html.ActionLink("5. Ví dụ cách xác đinh độ phức tạp của thuật toán", "II_5")
                        </li>
                    </ul>
                </li>
                <li>
                    @Html.ActionLink("III. Giải thuật", "III")
                </li>
                <li>
                    @Html.ActionLink("IV. Cấu trúc dữ liệu", "IV")
                </li>
            </ul>
        </div>
    </div>
    <div style="border: 2px solid black; height: 624px; background-color: #eeeeee; overflow-y: scroll; overflow-x:hidden">
        @RenderBody()
    </div>
</div>