@model IEnumerable<KnowledgeManage.Models.Knowledge>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_PreKnowledge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name_Knowledge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Key_Knowledge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link_Knowledge)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_PreKnowledge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name_Knowledge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Key_Knowledge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link_Knowledge)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Knowledge">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Knowledge">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Knowledge">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
