@model IEnumerable<KnowledgeManage.Models.Lesson>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .my-custom-scrollbar {
        position: relative;
        height: 85vh;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }
</style>

<div class="container bg-light table-wrapper-scroll-y my-custom-scrollbar">
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table table-hover">
        <thead style="position: sticky;top: 0" class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name_Lesson)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Key_Lesson)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name_Lesson)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Key_Lesson)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id_Lesson">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id_Lesson">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id_Lesson">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>