@model KnowledgeManage.Models.Exercise

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container bg-light" >
    <h1>Details</h1>

    <div>
        <h4>Exercise</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Link_Exercise)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Link_Exercise)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name_Exercise)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name_Exercise)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Lesson)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Lesson.Id_Lesson)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id_Exercise">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>